///
$core-background: color('universal-white');

///
$core-color: color('body-text-dark');

///
$core-line: 2.8rem;

///
$core-font: 'Lato', sans-serif;

:root {
    --tick-color: #328377; // Default tick color value
    --kapow-green: #328377;
    --kapow-orange: #f86624;
    --kapow-blue: #1789fc;
}
