/* stylelint-disable scss/dollar-variable-empty-line-before */
$spacer: 0.8rem;
$spacers: (
    0: 0,
    1: $spacer,
    2: $spacer * 2,
    3: $spacer * 3,
    4: $spacer * 4,
    5: $spacer * 5,
    6: $spacer * 6,
    7: $spacer * 8,
    8: $spacer * 10,
    9: $spacer * 12,
    10: $spacer * 16,
    11: $spacer * 18,
    12: $spacer * 20,
    13: $spacer * 24,
);

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    // xxl: 1400px,
);

@include _assert-ascending($grid-breakpoints, '$grid-breakpoints');
@include _assert-starts-at-zero($grid-breakpoints, '$grid-breakpoints');

$container-max-widths: (
    sm: 100%,
    md: 708px,
    lg: 864px,
    xl: 1176px,
    // xxl: 1320px,
);

@include _assert-ascending($container-max-widths, '$container-max-widths');

// $grid-columns: 12;
$grid-gutter-width: 3rem;

// $grid-row-columns: 6;

$container-padding-x: $grid-gutter-width;

$gutters-grid: (
    'xs': $grid-gutter-width,
    'sm': $grid-gutter-width,
    'md': $grid-gutter-width,
    'lg': $grid-gutter-width,
    'xl': $grid-gutter-width,
    'xxl': $grid-gutter-width,
);
